<% provide(:title, "Your Destination Wedding in Spain" ) %>

<div class="page-header">
  <h1>
    Spain Destination Weddings
  </h1>
</div>

<div class="row">
  <div class="span6">
    <p class="lead"> Choose Your Type of destination wedding in Spain</p>
    <ul class="thumbnails">
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Gay Wedding in Spain</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Beach Wedding in Spain</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Traditional Spanish Wedding</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Historical Wedding in Spain</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Cruise Wedding</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
      <li class="span2">
        <div class="thumbnail">
          <img src="http://lorempixel.com/output/fashion-q-c-148-123-3.jpg" alt="">
          <h3>Luxurious Wedding</h3>
          <p>Thumbnail caption...</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="span6">
    <p class="lead"> Our Destination Wedding Spain Services</p>
    <ul class="unstyled">
      <li>Flowers</li>
      <li>Hair </li>
      <li>Make Up</li>
      <li>Tuxedo Rental</li>
      <li>Catering</li>
      <li>Venues</li>
      <li>Churches</li>
      <li>Cruise Options</li>
      <li>Wedding Automobile</li>
    </ul>
  </div>
</div>

<hr />

<div class="row">
  <div class="span12">
    <p class="lead"> Tips / Vendors</p>
  </div>
</div>